body {
  font-family: georgia,"times new roman",times,serif;
}
.text {
  margin-bottom: 0.2em;
}

.title {
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}

a {
  color: #000;
}

h5 {
  font-weight: normal;
  font-size: 0.9em;
  border-bottom: 1px solid #ccc;
  margin-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  color: #666;
}

a.source {
  color: #666;
}
.text a {
  color: #000;
}

.text a:hover {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.image {
  margin-bottom: 0.6em;
}

.image img {
  max-width: 100%;
  max-height: 300px;
}
